<div id="container">
    <h1><b>Verbose: Student Record Viewer</b></h1>
    <h3>Welcome to the Verbose Student Record Viewer</h3>
    <p>Please Enter the relevant Student ID to Begin</p>

    <form #userForm = "ngForm" (ngSubmit) = "onSubmit(ID.value)" novalidate>
        <div>
            <mat-form-field appearance = "fill" color = "accent" hideRequiredMarker>
                <mat-label>Student ID</mat-label>
                <input matInput name = "id" placeholder = "w1234567" type = "text" required #ID>
            </mat-form-field>

            <button mat-fab [disabled] = "userForm.form.invalid" type = "submit">Search!</button>
        </div>
    </form>
</div>

<app-student-details
    [id] = "studentID"></app-student-details>
