#container {
	margin: 2rem;
	text-align: center;
}

#container h1{
	font-family: arial, sans-serif;
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
	padding: 10px;
	margin-bottom: 1px;
}

#container h3{
	font-family: arial, sans-serif;
	font-size: 25px;
	padding: 10px;
	margin-bottom: 30px;
}

#container p{
	font-family: arial, sans-serif;
	font-size: 20px;
}

button {
size: 5px;
margin: 2rem;
}

grid-container{
	width: 40%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 100px;
	align-items: center;
	grid-gap: 1px;
}

grid-item {
	margin:auto;
  }

#form {
	display: block;
}